@model Portal.Web.Models.Layout.SideBarUserAreaViewModel
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/Content/images/user.png" class="user-image" alt="User Image">
        <span class="hidden-xs">@Model.LoginInformations.User.UserName</span>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            <img src="~/Content/images/user.png" class="img-circle" alt="User Image">
            <p>
                @Model.LoginInformations.User.FullName
                <small>@L("DateRegistration"): @Model.LoginInformations.User.CreationTime</small>
            </p>
        </li>
        <li class="user-body">
            <ul class="list-group list-group-unbordered margin-bottom-none">
                <li class="list-group-item">
                    <span>@L("Email"):</span> <a class="pull-right">@Model.LoginInformations.User.EmailAddress</a>
                </li>
            </ul>
        </li>
        <li class="user-footer">
            <div class="pull-right">
                <a href="@Url.Action("Logout", "Account")" class="btn btn-default btn-flat">@L("Logout")</a>
            </div>
        </li>
    </ul>
</li>